@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');
body {
    color: #5D5F63;
    background: #293949;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.sidebar-toggle {
    margin-left: -240px;
}
.sidebar {
    width: 240px;
    height: 100%;
    background: #293949;
    position: absolute;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 100;
}
.sidebar #leftside-navigation .sub-menu-content {
    position: absolute;
    right: -100%;
    margin-top: -50px;
    width: 100%;
}
.sidebar #leftside-navigation ul, .sidebar #leftside-navigation ul ul {
    margin: -2px 0 0;
    padding: 0;
    /*margin-top: -50px;*/

}
.sidebar #leftside-navigation ul li {
    list-style-type: none;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}
.sidebar #leftside-navigation ul li.active > a {
    color: #1abc9c;
}
.sidebar #leftside-navigation ul li a {
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 18px 0 18px 25px;
    font-size: 12px;
    outline: 0;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
.sidebar #leftside-navigation ul li a:hover {
    color: #1abc9c;
}
.sidebar #leftside-navigation ul li a span {
    display: inline-block;
}
.sidebar #leftside-navigation ul li a i {
    width: 20px;
}
.sidebar #leftside-navigation ul li a i .fa-angle-left, .sidebar #leftside-navigation ul li a i .fa-angle-right {
    padding-top: 3px;
}
.sidebar #leftside-navigation ul ul {
    display: none;
}
.sidebar #leftside-navigation ul ul li {
    background: #23313f;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border-bottom: none;
}
.sidebar #leftside-navigation ul ul li a {
    font-size: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
    color: #aeb2b7;
}

/*second menu lvl*/
.second-menu-content {
    position: relative;
}
.sidebar #leftside-navigation ul li.active ul ul {
    display: none;
}
.sidebar #leftside-navigation .second-menu-content ul.active {
    position: absolute;
    display: block;
    right: -239px;
    text-align: left;
    top: 2px;
    width: 100%;
}
.sidebar #leftside-navigation .third-menu-content ul.active {
    top: 50px;
}
.sidebar #leftside-navigation ul ul.active {
    display: block;
}
.mobile-bar {
    display: none;
}

@media (max-width: 768px) {
    .mobile-bar {
        display: block;
        width: 100vw;
        height: 65px;
        z-index: 99999;
        position: fixed;
        background: black;
        bottom: 0;
    }
    #leftside-navigation {
        display: none;
    }
    #leftside-navigation.mobile-menu-active {
        display: block;
    }
    .nano-content {
        display: none;
    }
    #burger {
        padding: 16px;
        position: fixed;
        left: 0;
        bottom: 0;
        color: white;
        font-size: 32px;
    }
    #burger.active{
        /*background: linear-gradient(45deg, #9682C8 10%, #05BCC9);;*/
        /*border-radius: 0% 0% 0% 100%;*/
        /*transition: 1s;*/
        /*cursor: pointer;*/
        /*padding: 16px 16px 200vw 200vw;*/
    }
    .sidebar {
        /*display: none;*/
    }
     .sidebar  {
        display: none;
        transition: 1s;
        width: 100%;
        height: 200px;
        background: black;
        overflow: scroll;
        position: fixed;
        bottom: 0;
        margin-bottom: 65px;
        border-radius: 25px 25px 0px 0;
    }
    .sidebar #leftside-navigation .sub-menu-content {
        position: relative;
        right: 0;
        margin-top: 0;
    }
    .sidebar #leftside-navigation .second-menu-content ul.active {
        right: 0;
        position: relative;
    }
    .sidebar #leftside-navigation ul ul li a {
        padding: 18px 0 18px 25px;
    }
    .sidebar #leftside-navigation .third-menu-content ul.active {
        top: 0;
    }
}
